*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp/**/*
log/*.log

# YARD artifacts
.yardoc
_yardoc
doc/

*.swp
log/*.log
log/*.lck
tmp/
tmp/**/*
doc/api
doc/app
solr/development/*
solr-backup/development/*
public/sitemaps/*
.bundle/
app/controllers/.events_controller.rb.swn
app/controllers/.events_controller.rb.swo
app/models/.event.rb.swo
app/views/events/._form.html.erb.swo
app/views/events/.index.html.erb.swn
app/views/events/.index.html.erb.swo
app/views/events/.new.html.erb.swo
app/views/search/.search_dataset.html.erb.swo
public/prototype/stylesheets/css/.simple_form.css.swo
